<h4>Personajes</h4>
<ul class="list-group" *ngFor="let character of characterList; let c = index; let isFirst = first; let isLast = last;">
    <li class="list-group-item d-flex justify-content-between align-items-center" [ngClass]="{ 'list-group-item-success': true, 'list-group-item-dark' : isLast, ' list-group-item-primary': isFirst }">
        <div>
            {{ c+1 }} {{ character.name }} - {{ character.power }}
        </div>
        <button *ngIf="character.id" class="btn btn-danger" (click)="emitDeleteCharacterById(character.id)">X</button>
    </li>
</ul>
